<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facebook</title>
  </head>
  <body>
    <%- include('../includes/intro.ejs') %>
    <h3>Welcome back to Facebook <%= username %></h3>
    <p>
      followers : <%=data.followers %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      Following : <%= data.following %>
    </p>
    <br />
    <hr />
    <br />

    <% for(let post of data.posts) {%>
    <img src="post.image" alt="Images" />
    <br />
    <p>
      Likes : <%=post.likes %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Description :
      <%= post.description %>
    </p>
    <% } %>
  </body>
</html>
